<nav
  class="navbar navbar-expand-lg navbar-light ng-white border-bottom box-shadow mb-3"
>
  <a class="navbar-brand" routerLink="">Online Pie Shop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-grow">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pies">Pies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/swagger" target="_blank">SwaggerUI</a>
      </li>
    </ul>
  </div>
</nav>
