<div class="container">
  <div class="row mb-2">
    <app-error-indicator
      class="col-sm-12"
      *ngIf="pieDataError"
      [componentName]="pieComponentName"
    ></app-error-indicator>
    <app-progress-indicator
      class="col-sm-12"
      *ngIf="!pieDataError && pieDataLoading"
      [componentName]="pieComponentName"
    ></app-progress-indicator>
    <div
      class="row border pb-2"
      *ngIf="!pieDataError"
      [hidden]="pieDataLoading"
    >
      <div class="col-sm-9">
        <span>
          <h5>
            {{ pie.name }} - <small>{{ pie.shortDescription }}</small>
          </h5>
        </span>
        <img
          class="img-fluid"
          [src]="pie.imageUrl"
          [title]="pie.name"
          [alt]="pie.name"
          (load)="onPieLoad()"
        />
      </div>
      <div class="col-sm-3 mt-5">
        <button class="btn btn-danger">
          Add to cart
        </button>
        <p>
          <small>{{ pie.longDescription }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
